.container{
    padding: 10px;
    
    
}
.middleContainer{
    display: flex;
    gap: 30px;
}
.one{
    background-color:mediumseagreen;
    display: flex;
    gap: 20px;
    width: 650px;
        
}
.one > h3{
    padding: 0;
    margin: 0;
}
.two{
    background-color: white;
   
    
}
.three{
    background-color: white;
}
.four{
    background-color:rgb(246, 238, 238);
    width: 626px;
    text-align: center;
}
body{
    /* background-color: rgb(188, 125, 10); */
    /* color: aqua; */
    margin-left: 50px;
    margin-top: 20px;
    border: 2px solid;
    width: fit-content;
    border-color: bisque;
}

.header{
    display: flex;
}
h4{
    text-decoration: underline;
}
.two > p{
    text-decoration: underline;
    
}
span{
    color: red;
}
button{
    background-color:mediumseagreen;
    color: white;
}
.payment{
    list-style-type: none;
}